.add-body, .edit-body {
    width: 700px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    background-color: #DAEBFE;
  }

  .AddCourse, .EditCourse {
    width: 600px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  
  .make-course, .edit-course {
    font-size: 36px;
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -2px;
  }

  .form-labels {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-items {
    order: 2;
  }
  
  .add-labels {
    text-align: left;
  }

  .add-fields, .edit-fields {
    margin-bottom: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
  
  .inputs {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #005587;
    background-color: #ffffff;
  }

  .q-inputs {
    width: 75px;
  }

  
  .add-body input[type="text"] 
  /* .add-body input[type="number"] */
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #2774AE;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }
  
  .add-body input[type="text"]:focus {
    border-bottom-color: #8237FF;
    border-bottom-width: 2px;
    font-weight: bolder;
    color: #8237FF;
  }
  
  .inputs:focus {
    
    font-family: 'Didact Gothic', sans-serif;
  }

  .textarea {
    font-family: "Raleway", sans-serif;
    padding-top: 10px;
  }

  .course-labels {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    order: 1;
}

  .course-data {
    color: #005587;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    order: 2;
  }
  
  .AddCourse__required {
    color: #a51414;
  }
  
  .AddCourse__error p {
    color: #a51414;
    margin-bottom: 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .item {
    order: 2;
  }
  
  label {
    float: left;
    padding: 0 1em;
    padding-left: 0;
  }
  
  .legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .legend-item {
    order: 2;
  }
    
  .legend-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
  }

  .subs {
    order: 5;
  }
  
  @media screen and (max-width: 750px) {
  
    .add-body, .edit-body {
        width: 400px; /* Can be in percentage also */
    }

    .AddCourse, .EditCourse {
      width: 75%;
    }
  
    .add-fields, .edit-fields {
      width: 100%;
    }

    .question {
      margin-bottom: 10px;
    }

    .course-labels {
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .course-data {
      margin-bottom: 10px;
      font-size: 18px;
      padding-left: 5px;
    }
    
  }

  @media screen and (max-width: 500px) {
    
    .add-body, .edit-body {
        width: 300px; /* Can be in percentage also */
        padding-top: 20px;
        font-size: 14px;
    }

    .make-course, .edit-course {
      font-size: 32px;
      letter-spacing: -2px;
      margin-top: 0;
    }
  
    .add-fields, .edit-fields {
      width: 93%;
    }

    .question {
      margin-bottom: 10px;
    }

    .course-labels {
      font-size: 16px;
    }

    .course-data {
      font-size: 18px;
    }
    
    h2, .form-labels {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    .stu-teach {
      font-size: 14px
    }

    .subs {
      font-size: 12px;
    }
  }